<!-- <div *ngIf="!users" class="loader-wrapper">
    <div class="loader"></div>
</div> -->
<ng-container *ngIf="users">
    <div class="post" *ngFor="let reply of replies; let i = index">
        <div class="post-profile">
            <div>
                <div class="avatar">
                    <img src="{{users[reply.author].image}}" alt="image">
                </div>
                <div class="user"><a routerLink='/user/details/{{users[reply.author].username}}'>{{users[reply.author].username}}</a></div>
                <div class="role"> <span *ngIf="!users[reply.author]._kmd.roles">Member</span></div>
                <div class="role" *ngIf="users[reply.author]._kmd.roles"><span *ngIf="users[reply.author]._kmd.roles[0].roleId == adminRole">Admin</span></div>
                <div class="posts">Posts: <span>{{users[reply.author].postsCount}}</span></div>
                <div class="joined">Joined: <span>{{users[reply.author]._kmd.ect | date: 'yyyy-MM-dd HH:mm:ss' }}</span></div>
            </div>
        </div>
        <div class="post-content">
            <div class="post-top">
                <div class="post-title"><a routerLink='/view/forum/{{forumId}}/viewtopic/{{topicId}}'>{{reply.topicTitle}}</a></div>
                <div class="post-options">
                    <a routerLink="/view/forum/{{forumId}}/edittopic/{{topicId}}/editreply/{{reply._id}}" *ngIf="authService.isLoggedIn()">
                        <i class="fas fa-pencil-alt" *ngIf="reply.author === authService.user().username || (authService.user().role == adminRole)"></i></a>
                    <i *ngIf="authService.isLoggedIn() && authService.user().role == adminRole" (click)='deleteReply(reply._id, reply.author)'
                        class="fas fa-trash-alt"></i>
                </div>
            </div>
            <div class="meta"><i class="fas fa-file-alt"></i> by <a routerLink='/user/details/{{reply.author}}'>{{reply.author}}</a> »
                {{reply._kmd.ect | date: 'yyyy-MM-dd HH:mm:ss'}}</div>
            <div class="post-description" [innerHTML]='reply.content | safe: "html"'></div>
        </div>
    </div>
</ng-container>



<div class="quick-reply-wrapper" *ngIf="replies"> 
    <div class="form-wrapper topic reply" *ngIf="authService.isLoggedIn()">
        <form (ngSubmit)='addReply()' #addReplyForm='ngForm'>
            <p class="post-title">Quick Reply</p>
            <div class="bbcode">
                    <i (click)='insertImageTags()' class="fas fa-image" title="Insert image: [img]http://image_url[/img]"></i>
                    <i (click)='insertVideoTags()' class="fas fa-tv" title="Insert video: [video]http://video_url[/video]"></i>
                    <i (click)='insertAudioTags()' class="fas fa-music" title="Insert audio: [audio]http://audio_url[/audio]"></i>
            </div>
            <p>
                <textarea [(ngModel)]="replyModel.content" #content='ngModel' name="content" placeholder="Write something..."
                    required></textarea>
            </p>

            <p>
                <input [disabled]='addReplyForm.form.invalid' type="submit" value="submit">
            </p>
        </form>
        <aside>
            <ul class="emojis">
                <li (click)='addEmoji($event)'>🙂</li>
                <li (click)='addEmoji($event)'>🙃</li>
                <li (click)='addEmoji($event)'>😃</li>
                <li (click)='addEmoji($event)'>😂</li>
                <li (click)='addEmoji($event)'>😁</li>
                <li (click)='addEmoji($event)'>😉</li>
                <li (click)='addEmoji($event)'>😎</li>
                <li (click)='addEmoji($event)'>😛</li>
                <li (click)='addEmoji($event)'>😜</li>
                <li (click)='addEmoji($event)'>😋</li>
                <li (click)='addEmoji($event)'>😊</li>
                <li (click)='addEmoji($event)'>😮</li>
                <li (click)='addEmoji($event)'>😐</li>
                <li (click)='addEmoji($event)'>😕</li>
                <li (click)='addEmoji($event)'>😢</li>
                <li (click)='addEmoji($event)'>😬</li>
                <li (click)='addEmoji($event)'>😶</li>
                <li (click)='addEmoji($event)'>🙄</li>
                <li (click)='addEmoji($event)'>😡</li>
                <li (click)='addEmoji($event)'>😈</li>
            </ul>
        </aside>
    </div>
</div>