<!-- <input type="checkbox" name="nav-toggle" id="nav-toggle"> -->
<header>
    <div class="description">
        <div class="logo">
            <a routerLink="/">
                <img src="../assets/images/logos/awesome-cars-logo-626x121px.png" alt="awesome cars logo">
            </a>
        </div>
        <div class="search">
            <form>
                <input type="text" placeholder="Search...">
                <button type="submit" class="btn-search"><i class="fas fa-search"></i></button>
            </form>
        </div>
    </div>
    <!-- <label for="nav-toggle" id="toggle"><i class="fas fa-bars"></i></label> -->
    <nav>
        <ul class="left">
            <li><a href="#">New Post</a></li>
            <li><a href="#">My Posts</a></li>
            <li *ngIf="!authService.isLoggedIn()"><a routerLink="/register" id="register-left"><i class="fa fa-edit"></i> Register</a></li>
            <li *ngIf="!authService.isLoggedIn()"><a routerLink="/login" id="login-left"><i class="fa fa-power-off"></i> Login</a></li>
            <li *ngIf="authService.isLoggedIn()" (click)='logout()'><a href="#" id="logout-left"><i class="fa fa-power-off"></i> Logout</a></li>
        </ul>
        <ul class="right">
            <li *ngIf="!authService.isLoggedIn()"><a routerLink="/register"><i class="fa fa-edit"></i> Register</a></li>
            <li *ngIf="!authService.isLoggedIn()"><a routerLink="/login"><i class="fa fa-power-off"></i> Login</a></li>
            <li *ngIf="authService.isLoggedIn()" (click)='logout()'><a href="#"><i class="fa fa-power-off"></i> Logout</a></li>
        </ul>
    </nav>

</header>