<div class="forums-wrapper">
    <div class="nav" *ngIf="topic">
        <a class="single-forum-title" routerLink="/view/forum/{{forumId}}">{{forumName[[(forumId)]]}}</a>
        <i class="fas fa-angle-right"></i>
        <a class="single-forum-title" routerLink="/view/forum/{{forumId}}/viewtopic/{{topic._id}}">{{topic.subject}}</a>
    </div>

    <div *ngIf="!topic" class="loader-wrapper">
        <div class="loader"></div>
    </div>

    <div *ngIf="topic" class="post">
        <div class="post-profile">

            <div *ngIf="!user" class="loader-wrapper">
                <div class="loader small"></div>
            </div>

            <div *ngIf="user">

                <div class="avatar">
                    <img src="{{user[0].image}}" alt="image">
                </div>
                <div class="user"><a routerLink="/user/details/{{topic.author}}">{{topic.author}}</a></div>
                <div class="role" *ngIf="!user[0]._kmd.roles"> <span>Member</span></div>
                <div class="role" *ngIf="user[0]._kmd.roles"><span *ngIf="user[0]._kmd.roles[0].roleId == adminRole">Admin</span></div>
                <div class="posts">Posts: <span>{{user[0].postsCount}}</span></div>
                <div class="joined">Joined: <span>{{user[0]._kmd.ect | date: 'yyyy-MM-dd HH:mm:ss' }}</span></div>
            </div>
        </div>
        <div class="post-content">
            <div class="post-top">
                <div class="post-title"><a routerLink="/view/forum/{{forumId}}/viewtopic/{{topic._id}}">{{topic.subject}}</a></div>
                <div class="post-options">
                    <a routerLink="/view/forum/{{forumId}}/edittopic/{{topic._id}}" *ngIf="authService.isLoggedIn()"><i
                            class="fas fa-pencil-alt" *ngIf="topic.author === authService.user().username || (authService.user().role == adminRole)"></i></a>
                    <i *ngIf="authService.isLoggedIn() && authService.user().role == adminRole" (click)='deleteTopic()' class="fas fa-trash-alt"></i>
                </div>
            </div>
            <div class="meta"><i class="fas fa-file-alt"></i> by <a routerLink="/user/details/{{topic.author}}">{{topic.author}}</a> »
                {{topic._kmd.ect | date: 'yyyy-MM-dd HH:mm:ss'}}</div>
            <div class="post-description" [innerHTML]='topic.description | safe: "html"'></div>
        </div>
    </div>
    <app-add-reply *ngIf="topic" [topicId]='topicId' [topicTitle]='topic.subject' [forumId]='forumId'></app-add-reply>
</div>
