<div class="forums-wrapper">
    <div>
        <a *ngIf="topic" class="single-forum-title" routerLink="/view/forum/viewtopic/{{topic._id}}">{{topic.subject}}</a>
    </div>

    <div *ngIf="!topic" class="loader-wrapper">
        <div class="loader"></div>
    </div>

    <div *ngIf="topic" class="post">
        <div class="post-profile">
            <div class="avatar">
                <img src="https://awesomecs.syntrwave.com/download/file.php?avatar=2_1543931270.png" alt="image">
            </div>
            <div class="user"><a routerLink="#">{{topic.author}}</a></div>
            <div class="role" *ngIf="!authService.user().role">Member</div>
            <div class="role" *ngIf="authService.user().role">Admin</div>
            <div class="posts">Posts: <span *ngIf="userPostsCount">{{userPostsCount}}</span></div>
            <div class="joined">Joined: {{authService.user().joined | date: 'yyyy-MM-dd HH:mm:ss' }}</div>
        </div>
        <div class="post-content">
            <div class="post-title"><a routerLink="#">{{topic.subject}}</a></div>
            <div class="meta"><i class="fas fa-file-alt"></i> by <a routerLink="#">{{topic.author}}</a> » {{topic._kmd.ect | date: 'yyyy-MM-dd HH:mm:ss'}}</div>
            <div class="post-description">{{topic.description}}</div>
        </div>
    </div>
</div>