<div class="forums-wrapper">
    <div>
        <a class="single-forum-title" routerLink="../../../forum/{{forumId}}">{{forumName[[(forumId)]]}}</a>
    </div>

    <div class="form-wrapper topic">
        <form (ngSubmit)='addTopic()' #addTopicForm='ngForm'>
            <p class="post-title">Post a new topic</p>
            <p>
                <input [(ngModel)]="addTopicModel.subject" #subject='ngModel' type="text" name="subject" placeholder="Subject" required>
            </p>

            <p>
                <textarea [(ngModel)]="addTopicModel.description" #description='ngModel' name="description" placeholder="Write something..." required></textarea>
            </p>

            <p>
                <input [disabled]='addTopicForm.form.invalid' type="submit" value="submit">
            </p>
        </form>
        <aside>
            <ul class="emojis">
                <li (click)='addEmoji($event)'>🙂</li>
                <li (click)='addEmoji($event)'>🙃</li>
                <li (click)='addEmoji($event)'>😃</li>
                <li (click)='addEmoji($event)'>😂</li>
                <li (click)='addEmoji($event)'>😁</li>
                <li (click)='addEmoji($event)'>😉</li>
                <li (click)='addEmoji($event)'>😎</li>
                <li (click)='addEmoji($event)'>😛</li>
                <li (click)='addEmoji($event)'>😜</li>
                <li (click)='addEmoji($event)'>😋</li>
                <li (click)='addEmoji($event)'>😊</li>
                <li (click)='addEmoji($event)'>😮</li>
                <li (click)='addEmoji($event)'>😐</li>
                <li (click)='addEmoji($event)'>😕</li>
                <li (click)='addEmoji($event)'>😢</li>
                <li (click)='addEmoji($event)'>😬</li>
                <li (click)='addEmoji($event)'>😶</li>
                <li (click)='addEmoji($event)'>🙄</li>
                <li (click)='addEmoji($event)'>😡</li>
                <li (click)='addEmoji($event)'>😈</li>
            </ul>
        </aside>
    </div>
</div>