<div class="forums-wrapper">
    <div>
        <a class="single-forum-title" routerLink="../../../forum/1">Announcements</a>
    </div>

    <div class="form-wrapper topic">
        <form>
            <p class="post-title">Post a new topic</p>
            <p>
                <input type="text" name="subject" placeholder="Subject">
            </p>

            <p>
                <textarea name="message" placeholder="Write something..."></textarea>
            </p>

            <p>
                <input type="submit" value="submit">
            </p>
        </form>
        <aside>
            <ul class="emojis">
                <li>🙂</li>
                <li>🙃</li>
                <li>😃</li>
                <li>😂</li>
                <li>😁</li>
                <li>😉</li>
                <li>😎</li>
                <li>😛</li>
                <li>😜</li>
                <li>😋</li>
                <li>😊</li>
                <li>😮</li>
                <li>😐</li>
                <li>😕</li>
                <li>😢</li>
                <li>😬</li>
                <li>😶</li>
                <li>🙄</li>
                <li>😡</li>
                <li>😈</li>
            </ul>
        </aside>
    </div>
</div>