<div class="forums-wrapper">
    <div class="forum-header">
        <div class="forum-title">Server</div>
        <div class="forum-topics">Topics</div>
    </div>
    <ul class="forum-content">

        <li class="forum">
            <div class="icon">
                <i class="far fa-comment"></i>
            </div>
            <div class="info">
                <div class="title"><a href="#">Announcements</a></div>
                <div class="description">Do I have to introduce myself? - No, you don't. but it would be nice to say
                    hello and get yourself known into the community.</div>
            </div>
            <div class="topics">21</div>
        </li>

        <li class="forum">
            <div class="icon">
                <i class="far fa-comment"></i>
            </div>
            <div class="info">
                <div class="title"><a href="#">VIP Application</a></div>
                <div class="description">
                    Apply now and #MakeAwesomeCarsGreatAgain
                    <br>
                    Watch Video ➤ https://goo.gl/pKjJQ3
                </div>
            </div>
            <div class="topics">18</div>
        </li>

        <li class="forum">
            <div class="icon">
                <i class="far fa-comment"></i>
            </div>
            <div class="info">
                <div class="title"><a href="#">Admin Application</a></div>
                <div class="description">
                    Now open. Expect a closing in the pursuable future.
                </div>
            </div>
            <div class="topics">5</div>
        </li>

        <li class="forum">
            <div class="icon">
                <i class="far fa-comment"></i>
            </div>
            <div class="info">
                <div class="title"><a href="#">Suggestions</a></div>
                <div class="description">
                    You think our server could be improved? Share your suggestions here.
                </div>
            </div>
            <div class="topics">13</div>
        </li>

        <li class="forum">
                <div class="icon">
                    <i class="far fa-comment"></i>
                </div>
                <div class="info">
                    <div class="title"><a href="#">Cafeteria</a></div>
                    <div class="description">
                            Just waking up while drinking your coffee? Well enjoy reading about the hilarious internet! 
                    </div>
                </div>
                <div class="topics">24</div>
            </li>

    </ul>

</div>