<div class="quick-reply-wrapper">
        <div class="form-wrapper topic reply" *ngIf="replyModel">
            <form (ngSubmit)='editReply()' #editReplyForm='ngForm'>
                <p class="post-title">Edit Your Reply</p>
                <div class="bbcode">
                        <i (click)='insertImageTags()' class="fas fa-image" title="Insert image: [img]http://image_url[/img]"></i>
                        <i (click)='insertVideoTags()' class="fas fa-tv" title="Insert video: [video]http://video_url[/video]"></i>
                        <i (click)='insertAudioTags()' class="fas fa-music" title="Insert audio: [audio]http://audio_url[/audio]"></i>
                </div>
                <p>
                    <textarea [(ngModel)]="replyModel.content" #content='ngModel' name="content" placeholder="Write something..."
                        required></textarea>
                </p>
    
                <p>
                    <input [disabled]='editReplyForm.form.invalid' type="submit" value="submit">
                </p>
            </form>
            <aside>
                <ul class="emojis">
                    <li (click)='addEmoji($event)'>🙂</li>
                    <li (click)='addEmoji($event)'>🙃</li>
                    <li (click)='addEmoji($event)'>😃</li>
                    <li (click)='addEmoji($event)'>😂</li>
                    <li (click)='addEmoji($event)'>😁</li>
                    <li (click)='addEmoji($event)'>😉</li>
                    <li (click)='addEmoji($event)'>😎</li>
                    <li (click)='addEmoji($event)'>😛</li>
                    <li (click)='addEmoji($event)'>😜</li>
                    <li (click)='addEmoji($event)'>😋</li>
                    <li (click)='addEmoji($event)'>😊</li>
                    <li (click)='addEmoji($event)'>😮</li>
                    <li (click)='addEmoji($event)'>😐</li>
                    <li (click)='addEmoji($event)'>😕</li>
                    <li (click)='addEmoji($event)'>😢</li>
                    <li (click)='addEmoji($event)'>😬</li>
                    <li (click)='addEmoji($event)'>😶</li>
                    <li (click)='addEmoji($event)'>🙄</li>
                    <li (click)='addEmoji($event)'>😡</li>
                    <li (click)='addEmoji($event)'>😈</li>
                </ul>
            </aside>
        </div>
    </div>