@import url('https://use.fontawesome.com/releases/v5.6.1/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import './assets/styles/reset.scss';
@import './assets/styles/variables.scss';
@import './assets/styles/typography.scss';
@import './assets/styles/forms.scss';
@import './assets/styles/buttons.scss';
@import './assets/styles/navigation.scss';
@import './assets/styles/forums.scss';
@import './assets/styles/users.scss';


body {
    max-width: 65rem;
    margin: 0 auto;
}

.site {
    background: $secondary-bg-color;
    padding-top: 1rem;
    border-radius: 3px;
}

.loader-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;

    .loader {
        border: 8px solid #dadada;
        border-radius: 50%;
        border-top: 8px solid #278FE7;
        width: 60px;
        height: 60px;
        -webkit-animation: spin 1s linear infinite; /* Safari */
        animation: spin 1s linear infinite;
      }
    
    .small {
        width: 17px;
        height: 17px;
        border: 2px solid #dadada;
        border-top: 2px solid #278FE7;
    }
      
      /* Safari */
      @-webkit-keyframes spin {
        0% { -webkit-transform: rotate(0deg); }
        100% { -webkit-transform: rotate(360deg); }
      }
      
      @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
      }
}

