@import url('https://use.fontawesome.com/releases/v5.6.1/css/all.css');
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import './assets/styles/reset.scss';
@import './assets/styles/variables.scss';
@import './assets/styles/typography.scss';
@import './assets/styles/forms.scss';
@import './assets/styles/buttons.scss';
@import './assets/styles/navigation.scss';


body {
    max-width: 65rem;
    margin: 0 auto;
}

.site {
    background: $secondary-bg-color;
    padding-top: 1rem;
    border-radius: 3px;
}

