.btn-search {
    padding: .7rem;
    padding-top: .8rem;
    border: none;
    outline: none;
    font-size: 1rem;
    background: #333333;
    color: $primary-color;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    cursor: pointer;
    // box-shadow: inset 0 0 5px #000000;
}