.search {
    input[type=text] {
        padding: .7rem;
        outline: none;
        border: none;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        background: #333333;
        color: $primary-color;
        font-size: 1rem;
    }
    &:hover .btn-search {
        background: $hover-red;
        transition: background-color .5s ease-in-out;
    }
}

.form-wrapper {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    form {
        max-width: 30rem;
        width: 30rem;
        padding: 1rem;
        h1 {
            padding-bottom: .5rem;
        }
        p {
            padding: .6rem 0;
        }
        input[type=submit], input[type=password], input[type=text], input[type=email], textarea {
            width: 100%;
            padding: .8rem;
            border-radius: 2px;
            outline: none;
            border: none;
            background: rgb(224, 224, 224);
            font-size: 1.1rem;
        }
        input[type=submit] {
            text-transform: uppercase;
            cursor: pointer;
            background: $blue;
            color: white;
            &:hover {
                background: rgb(224, 224, 224);
                color: $blue;
                transition: all .5s ease;
            }
            &:disabled {
                cursor: not-allowed;
                filter: brightness(70%);
            }
        }

        textarea {
            height: 12rem;
            resize: vertical;
        }

        label {
           display: inline-block;
           margin-bottom: .3rem; 
        }

    }
}

.topic {
    background: $primary-bg-color;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: .5rem;
    border-radius: 2px;
    form {
        max-width: 75%;
        width: 100%;
        flex: 1 1 75%;

        input[type=text], textarea {
            background: $secondary-bg-color;
            color: $primary-color;
            //box-shadow: inset 0 0 2px #000000;
            border: 1px solid $primary-bg-color;

            &:hover {
                border: 1px solid transparent;
                background: #333333;
                transition: all .3s ease;
                box-shadow: none;
            }
        }
        input[type=submit] {
            width: 9rem;
            background: $blue;
            color: white;
            padding: .6rem;
            display: inline-block;
            border-radius: 2px;
            margin-bottom: 1rem;
            border: 2px solid transparent;
            font-size: .9rem;
        
            &:hover {
                border: 2px solid $blue;
                background: transparent;
                color: $blue;
                transition: all .5s ease;
            }
        }
        .post-title {
            font-size: 1.1rem;
        }
        textarea {
            height: 17.9375rem;
        }
    }
    aside {
        flex: 1 1 25%;
        
        ul {
            list-style: none;
            padding: 1rem;
            display: flex;
            flex-wrap: wrap;
            margin-top: 3rem;
            li {
                font-size: 1.3rem;
            }
        }
    }
}

.alert-danger {
    padding: .8rem;
    margin-top: -.8rem;
    background-color: $hover-red;
    border-radius: 3px;
}

