.search {
    input[type=text] {
        padding: .7rem;
        outline: none;
        border: none;
        border-top-left-radius: 2px;
        border-bottom-left-radius: 2px;
        background: #333333;
        color: $primary-color;
        font-size: 1rem;
    }
    &:hover .btn-search {
        background: $hover-red;
        transition: background-color .5s ease-in-out;
    }
}

.form-wrapper {
    padding: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    
    form {
        max-width: 30rem;
        width: 30rem;
        padding: 1rem;
        h1 {
            padding-bottom: .5rem;
        }
        p {
            padding: .6rem 0;
        }
        input[type=submit], input[type=password], input[type=text], input[type=email], textarea {
            width: 100%;
            padding: .8rem;
            border-radius: 2px;
            outline: none;
            border: none;
            background: rgb(224, 224, 224);
            font-size: 1.1rem;
        }
        input[type=submit] {
            text-transform: uppercase;
            cursor: pointer;
            background: $blue;
            color: white;
            &:hover {
                background: rgb(224, 224, 224);
                color: $blue;
            }
            &:disabled {
                cursor: not-allowed;
                filter: brightness(70%);
            }
        }

        textarea {
            height: 12rem;
            resize: vertical;
        }

        label {
           display: inline-block;
           margin-bottom: .3rem; 
        }

    }
}

.alert-danger {
    padding: .8rem;
    margin-top: -.8rem;
    background-color: $hover-red;
    border-radius: 3px;
}

