.forums-wrapper {
    padding: 1.5rem 1rem 2rem 1rem;
    &>a {
        text-decoration: none;
    }
    .single-forum-title {
        color: $link-color;
        font-size: 1.5rem;
        display: inline-block;
        margin-top: 1rem;
        ;
        margin-bottom: 1.5rem;
        &:hover {
            text-decoration: underline;
        }
    }
    .forum-header {
        display: flex;
        justify-content: space-between;
        background: #333333;
        padding: 1rem;
        border-radius: 1px;
        font-size: .9rem;
        .forum-title {
            flex: 1 1 70%;
        }
        .forum-topics {
            flex: 1 1 30%;
            text-align: center;
        }
    }
    .forum-content {
        list-style: none;
        border-radius: 1px;
        padding: 0;
        .forum {
            display: flex;
            align-items: center;
            background: $primary-bg-color;
            padding: 1.5rem 1rem;
            &:hover {
                background: #1B1B1B;
                transition: background-color .4s ease-in;
            }
            .icon {
                font-size: 2rem;
                flex: 0 1 4%; // background: green;
            }
            .info {
                font-size: 1.1rem;
                flex: 1 1 70%;
                padding-left: .8rem;
                .title a {
                    color: $link-color;
                }
                .description {
                    color: #a2a1a1;
                    font-size: .85rem;
                    padding-right: 2rem;
                }
                .meta {
                    font-size: .85rem;
                    margin-top: .3rem;
                    a {
                        //font-weight: bold;
                        color: $link-color;
                    }
                }
            }
            .topics {
                font-size: .9rem;
                flex: 1 1 30%;
                text-align: center;
            }
        }
    }
}

.post {
    padding: 1.5rem;
    background: $primary-bg-color;
    display: flex;
    flex-wrap: wrap;
    a {
        color: $link-color;
    }
    .post-profile {
        color: #999999;
        flex: 1 1 20%;
        font-size: .84rem;
        padding-right: 1rem;
        .joined {
            margin-bottom: 1rem;
        }
    }
    .post-content {
        flex: 1 1 80%;
        padding-left: 1rem;
        .post-title {
            font-size: 1.2rem;
        }
        .meta {
            font-size: .84rem;
            color: #999999;
            margin: .3rem 0 2rem 0;
            .fa-file-alt {
                font-size: .7rem;
                margin-right: .2rem;
            }
        }
        .post-top {
            display: flex;
            justify-content: space-between;
            .fa-pencil-alt {
                // margin-right: .5rem;
                color: #555555;
                font-size: .9rem;
                padding: .5rem;
                background: #232323;
                border-top-left-radius: 2px;
                border-bottom-left-radius: 2px;
                &:hover {
                    background: $blue;
                    transition: all .5s ease;
                }
            }
            .fa-trash-alt {
                color: #555555;
                cursor: pointer;
                font-size: .9rem;
                padding: .5rem;
                background: #232323;
                border-top-right-radius: 2px;
                border-bottom-right-radius: 2px;
                &:hover {
                    background: $blue;
                    transition: all .5s ease;
                }
            }
        }
    }
}