html {
    font-size: 1rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 1.5;
    font-size: $font-size-mobile;
    color: $primary-color;
    background: $primary-bg-color;
}

@media screen and (min-width: 500px) {
    html {
        font-size: $font-size;
    }
}

body, table, th, td, form, input, textarea, option, select {
	font-family: inherit;
}

h1, h2, h3, h4, h5, h6 {
	line-height: 1.2;
	padding-bottom: 0.5em;
}

a {
    color: $blue;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

p, ul, ol {
	padding-bottom: .5rem;
}

ul, ol {
	padding-left: 2rem;
}

table {
    border-collapse: collapse;
    background: #333333;
    border-radius: 2px;
    width: 100%;
    box-shadow: $primary-box-shadow;
    th {
        background: $blue;
        padding: 1rem;
        text-align: left;
        color: white;
    }
    td {
        text-align: left;
        padding: 1rem;
    }
    tbody tr{
        transition: transform .5s ease;
        &:nth-child(odd) {
            background: #222222;
        }
        &:hover {
            background: #151515;
            transform: scale(1.02);
        }

    }
    img {
        width: 4rem;
        box-shadow: $primary-box-shadow;
        border-radius: 2px;
        transition: transform .3s ease;
        &:hover {
            filter: brightness(110%);
            filter: contrast(120%);
            transform: scale(1.2);
        }
    }
    a {
        color: $link-color;
    }
    i {
        margin-right: .4rem;
    }
}