.view-user-wrapper {
    padding: 1.5rem 1rem 2rem 1rem;
    .user-info {
        background: $primary-bg-color;
        border-radius: 2px;
        padding: 1rem;
        font-size: .9rem;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        h2 {
            flex: 1 1 100%;
            padding-bottom: 1rem;
            text-align: center;
        }
        img {
            border-radius: 2px;
            box-shadow: $primary-box-shadow;
            &:hover {
                filter: brightness(110%);
                filter: contrast(110%);
            }
        }
        dl {
            flex: 1 1 100%;
            display: flex;
            flex-wrap: wrap;
            dt {
                flex: 1 1 35%;
                text-align: right;
                color: #a2a1a1;
            }
            dd {
                flex: 1 1 50%;
                padding-left: .4rem;
                color: #828282;
                margin-bottom: .3rem;
            }
        }
    }
}

.myreplies-wrapper {
    padding: 1.5rem 1rem 2rem 1rem;
    a {
        color: $link-color;
    }
    .reply {
        background: $primary-bg-color;
        padding: 1.5rem;
        display: flex;
        flex-wrap: wrap;
        border-radius: 2px;
        margin-bottom: 1.5rem;

        &-info {
            color: $secondary-color;
            font-size: .9rem;
            flex: 1 1 30%;
            line-height: 1.4;
            padding-right: 1rem;
        }
        &-content {
            flex: 1 1 65%;
            padding-left: 1rem;
            .reply-title a {
                font-size: 1.2rem;
            }
            .reply-text {
                margin-top: .3rem;
            }
        }
        ul{
            flex: 1 1 100%;
            text-align: right;
            font-size: .9rem;
            padding: 0;
            list-style: none;
            i {
                padding-left: .2rem;
                color: $secondary-color;
                font-size: .9rem;
            }
        }
    }
}

.users-wrapper {
    padding: 1.5rem 1rem 2rem 1rem;
}