$blue: #2693E6;
$font-size: 1rem;
$font-size-mobile: 0.875rem;
$link-color: #49A0CC;
$primary-bg-color: #111111;
$secondary-bg-color: #232323;
$primary-box-shadow: 0px 0px 18px -1px rgba(0,0,0,0.75);
$primary-color: #dadada;
$hover-red: #d80101;
